@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

body {
   font-family: 'Montserrat', sans-serif;
}

p {
   margin: 0;
}

.bold {
   font-weight: 600;
}

.particle-background {
   z-index: -1;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
   overflow: hidden;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
   .project-wrapper {
      left: 0;
   }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 320px) {
/* Styles */
   body {
      background-color: #2C3E50;
      margin: 0;
      padding: 0;
   }

   .profile-wrapper {
      color: #FFF;
      margin: 10px 20px 0 20px;
      display: flex;
      justify-content: space-between;
   }

   .profile-name {
      font-size: 20px;
   }

   .profile-major,
   .profile-tools {
      font-size: 12px;
      margin-top: 7px;
   }

   .profile-links {
      display: inline-block;
      vertical-align: top;
   }

   .profile-resume {
      border: 1px solid #FFF;
      padding: 3px 10px;
      border-radius: 15px;
      font-size: 11px;
      margin-top: 3px;
   }

   .project-wrapper {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      top: 0;
      margin: 105px 8px 10px;
      background-color: #fff;
      border-radius: 15px;
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-width: none;
   }

   .project-item-wrapper {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      -o-column-count: 2;
      column-count: 2;

      -webkit-column-gap: 1em;
      -moz-column-gap: 1em;
      -o-column-gap: 1em;
      column-gap: 1em;

      margin: 1em;
      padding: 0;
   }

   .project-item {
      display: inline-block;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      
      transition:.2s all; 
   }

   .project-item > img {
      max-width: 100%;
      border-radius: 15px;
      margin: 5px 0 0;
      transition: .3s;
   }

   .project-item-info-wrapper {
      position: absolute;
      background-color: #FFF;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: opacity 750ms ease-in-out;
   }

   .project-item-info .is-visible {
      opacity: 1;
   }

   .profile-social {
      display: flex;
      justify-content: space-evenly;
      margin-top: 5px;
   }

   .profile-social svg {
      width: 20px;
      height: 20px;
   }

   .project-item:hover > img:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 20px 0px rgba(0,0,0,0.125);
      transition: .3s;
   }

   .project-item-info {
      padding: 20px;
   }


   .project-item-info img {
      width: 200px;
      height: auto;
   }

   .project-item-title,
   .project-item-website {
      display: inline-block;
   }

   .project-item-title {
      color: #333333;
      font-weight: 600;
      font-size: 20px;
   }

   .project-item-website {
      color: #525252;
      font-size: 15px;
      margin-left: 5px;
      margin-top: 10px;
   }

   .project-item-heading {
      color: #333333;
      font-weight: 600;
      font-size: 17px;
      margin: 10px 0;
   }

   .project-item-tools-icon {
      display: inline-block;
      margin: 0 10px;
   }

   .project-item-tools-icon svg {
      width: 25px;
      height: 25px;
      overflow: visible;
   }

   .project-item-description p {
      color: #525252;
   }

   
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 321px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
   .profile-wrapper {
      margin-top: 10px;
   }

   .profile-name {
      font-size: 30px;
   }

   .profile-major,
   .profile-tools {
      font-size: 15px;
   }

   .project-wrapper {
      margin: 130px 8px 10px;
   }

   .project-item-wrapper {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      -o-column-count: 3;
      column-count: 3;
   }

   .profile-resume {
      padding: 5px 15px;
      border-radius: 15px;
      font-size: 15px;
      margin-top: 3px;
   }

   .profile-social {
      margin-top: 10px;
   }

   .profile-social svg {
      width: 30px;
      height: 30px;
   }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
   .profile-wrapper {
      display: block;
      margin-top: 20px;
      width: 25%;
   }

   .profile-resume {
      margin-top: 15px;
   }

   .profile-social {
      position: absolute;
      bottom: 20px;
   }

   .github-wrapper,
   .linkedin-wrapper {
      margin: 0 10px;
   }

   .project-wrapper {
      right: 0;
      width: 70%; 
      margin: 10px;
   }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
   .project-item-wrapper {
      -webkit-column-count: 4;
      -moz-column-count: 4;
      -o-column-count: 4;
      column-count: 4;
   }

   .profile-wrapper {
      display: block;
      margin: 30px;
      width: 25%;
   }

   .profile-name {
      font-size: 40px;
   }

   .profile-major,
   .profile-tools {
      font-size: 20px;
      margin-top: 10px;
   }

   .profile-resume {
      margin-top: 25px;
      font-size: 20px;
      padding: 5px 20px;
      border-radius: 20px;
   }

   .profile-social {
      position: absolute;
      bottom: 20px;
   }

   .profile-social svg {
      width: 50px;
      height: 50px;
   }

   .github-wrapper,
   .linkedin-wrapper {
      margin: 0 10px;
   }

   .project-wrapper {
      right: 0;
      width: 70%; 
      margin: 10px;
   }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}